body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: grid;
    place-items: center;
    
}
#content{
    background-image:url("images/bg-stars.svg"),linear-gradient(hsl(234, 17%, 12%) 5%,hsl(235, 16%, 14%) 10%,hsl(236, 21%, 26%));
}
#footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100%;
    background-image: url("images/pattern-hills.svg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}